<!--
https://github.com/Juicy/imported-template
-->
<!-- <link rel="import" href="../polymer/polymer.html"> -->
<script>
  (function () {
    var DynamicImportPrototype = Object.create( HTMLElement.prototype);

    DynamicImportPrototype.attachedCallback = function () {
        // create new link tag
        var link = document.createElement('link');
        link.rel = "import";
        link.href = "components/whatever.html";
        // add it to the head
        // There is a bug in Chromium:
        // https://github.com/Polymer/polymer/issues/554#issuecomment-47359848
        // https://code.google.com/p/chromium/issues/detail?id=389566
        // so we could try to workaround it by removing this dynamic import from attaching flow:
        setTimeout( function asyncImport(){
            document.head.appendChild(link);
        });
        // It is not ideal solution, as probably we could later be trapped 
        // with measuring between link insertion and finished loading
    };

    document.register('dynamic-import', {
      prototype: DynamicImportPrototype
    });   
  })();
</script>